@import '../../styles/shared';

.dz-button {
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;

  &.dz-button--primary {
    background-color: $primary-color-button;
    color: $font-light;
    border-radius: 10px;
    font-weight: 600;
  }

  &.dz-button--secondary {
    background-color: $primary-color-button;
    color: $font-light;
    border-radius: 10px;
    font-weight: 600;
  }

  &.dz-button--hyperlink {
    background-color: transparent;
    color: $font-light;
    border-radius: 10px;
    font-weight: 600;
  }
}
