// backgrounds
$primary-background: linear-gradient( rgb(103, 47, 123), rgb(94, 52, 110));
$dark-background: linear-gradient( rgb(49, 43, 49), rgb(56, 25, 58));

// colors
$drinkzone-dark: rgb(32, 32, 32);

//button
$primary-color-button: rgb(91, 50, 116);
$secondary-color-button: rgba(133, 121, 141, 0.756);

// font
$font-light: white;
$font-dark: black;
$font-primary: rgb(91, 50, 116);
